body {
  margin: 0px;
  padding: 0px;
  background: #000;  
  width: 100%;
  height: 100%;
  position: fixed;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
/* .container-fluid{
  padding: 0 !important;
  margin: 0 !important;
} */

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

#svg_cover{
  position: absolute;
  top:0;  
  z-index: 30;
  -webkit-overflow-scrolling: touch;
}

btn:focus, a:focus
{
  outline: none !important;
  box-shadow: none !important;;
}


#modeSwitch{
	height: 0;
	width: 0;
	visibility: hidden;
}

#switchLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 60px;
	height: 34px;
	background: grey;
	display: block;
	border-radius: 100px;
  position: relative;
}

#switchLabel:after {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	width: 26px;
	height: 26px;
	background: #fff;
	border-radius: 26px;
  transition: 0.4s;
}

#modeSwitch:checked + label {
	background: #00d9ff;
}

#modeSwitch:checked + label:after {
	left: calc(100% - 4px);
	transform: translateX(-100%);
}

#switchLabel:active:after {
	width: 36px;
}
#switchLabel{
  margin-bottom: 0mm;
}

.fas.fa-eye-slash{
  position: absolute;
  left: calc(50% - 23px);
  pointer-events:none;
  color: white;
}

.navbar-toggler:focus
{
  outline: none !important;
  box-shadow: none;
}


.btn-group .btn:first-child {
  border-radius: 20px 0 0 20px;
}

.btn-group .btn:last-child {
  border-radius: 0 20px 20px 0;
}

.container-fluid .slider .row .btn-group-toggle >label {
  display:flex;
  justify-content:center;
  align-items:center;
}

.displayTakenPhoto{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.slider{
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
  height: 25%;
  background-color: none;
  width: 100%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  z-index: 60;
}

.slider.closed {
	height: 0;
}

.predLabels{
  height: 100%;
  text-align: center;
}

#touchCnv{
  position: absolute;
  border-radius: 20px;
  z-index: 220;
}

#hint_text{
  position: absolute;
  top: 15%;
  text-align: center;
  font-size: small;
  font-family: 'MuseoModerno', cursive;
  color: rgb(236, 236, 236);
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 40;
}

#focusDiv{
  position: absolute;
  border-radius: 20px;
  z-index: 200;
}

#toggle_btns{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 60px;
  font-family: 'MuseoModerno', cursive;
}

#one_preResult{
  display:flex;
  border-radius: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: whitesmoke;
  color: whitesmoke;
  font-family: 'MuseoModerno', cursive;
  font-size: large;
  justify-content: center;
  align-items: center;
  text-align:center;
}

#takePhotoButton {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 50;
  font-size: 30px;
}

#infoButton{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 50;
  font-size: 20px;
  box-shadow: none !important;
}

#takePhotoButton:active, 
#infoButton:active, 
#retakeButton:active,
#compareBtn:active {
  background-color: rgba(255, 255, 255, 0.5);
}

#retakeButton {
  border-radius: 90px;
  width: 60px;
  height: 60px;
  font-size: 24px;
} 

#compareBtn{
  border-radius: 90px;
  height: 40px;
  font-size: large;
  font-family: 'MuseoModerno', cursive;
  box-shadow: none !important;
}


input[type="range"] {
  width: 300px;
  background: transparent;
  -webkit-appearance: none;
  width: 100%;

}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
/*#############Thumb##############*/

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background: rgb(255, 87, 87);
  cursor: pointer;
  border-color: rgb(255, 87, 87);
  outline: none;
  /* margin-top: 18px; */
}

input[type="range"]::-moz-range-thumb {
  height: 36px;
  width: 36px;
  background: rgb(255, 87, 87);
  border-color: rgb(255, 87, 87);
  cursor: pointer;
  outline: none;
}

input[type="range"]::-ms-thumb {
  height: 36px;
  width: 36px;
  background: rgb(255, 87, 87);
  border-color: rgb(255, 87, 87);
  cursor: pointer;
  outline: none;
}
/*#############Track##############*/

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 36px;
  border-radius: 50px;
  cursor: pointer;
  background: rgba(204, 204, 204, 0.6);
  
}

input[type="range"]:active::-webkit-slider-runnable-track {
  background: #d6d6d6;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 36px;
  border-radius: 50px;
  cursor: pointer;
  background: rgba(204, 204, 204, 0.6);
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 36px;
  border-radius: 50px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background: rgba(204, 204, 204, 0.6);
}

input[type="range"]:focus::-ms-fill-lower {
  background: #ddd;
}

input[type="range"]::-ms-fill-upper {
  background: rgba(204, 204, 204, 0.6);
}

input[type="range"]:focus::-ms-fill-upper {
  background: #ddd;
}
