body {
  margin: 0px;
  padding: 0px;
  background: #000;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}
/* .container-fluid{
  padding: 0 !important;
  margin: 0 !important;
} */

#vid_container {
  position: fixed;
  top: 0;
  left: 0;
}

#video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 10;
}

#svg_cover{
  position: absolute;
  top:0;  
  z-index: 30;
}

/* .clip-path{
  clip-path: polygon(var(p0_x) var(p0_y), var(p1_x) var(p1_y), var(p2_x) var(p2_y), 5% 25%, 95% 25%, 95% 76%, 5% 76%, 5% 100%, 100% 100%, 100% 0%);
} */

#gui_controls {
  position: fixed;
  background-color: #111; /*rgba(255, 0, 0, 0.5);*/
  z-index: 2;
  bottom: 0;
}

/* .container-fluid .slider .row .btn-group-toggle {
  border-top-left-radius: 120px;
  
} */
.btn-group .btn:first-child {
  border-radius: 20px 0 0 20px;
}


.btn-group .btn:last-child {
  border-radius: 0 20px 20px 0;
}

.container-fluid .slider .row .btn-group-toggle >label {
  display:flex;
  justify-content:center;
  align-items:center;
}


.explain_text{
  position: absolute;
  top: 10%;
  text-align: center;
  font-size: large;
  color: #00c0ff;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 40;
}

.displayTakenPhoto{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}

.slider{
  overflow-y: hidden;
  position: absolute;
  bottom: 0;
  height: 25%;
  background-color: none;
  width: 100%;
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  z-index: 60;
}

.slider.closed {
	height: 0;
}

.predLabels{
  height: 100%;
  text-align: center;
}


#focusDiv{
  position: absolute;
  border-radius: 20px;
  z-index: 200;
}

#slider_actMax{
  width: 100%;
  height: 25px;
}

#toggle_btns{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 60px;
}


#takePhotoButton {
  position: absolute;
  left: calc(50% - 40px);
  bottom: 5%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 50;
}

#takePhotoButton:active {
  background-color: #fff;
}

#toggleFullScreenButton {
  display: none;
  width: 64px;
  height: 64px;
  background-image: url('img/ic_fullscreen_white_48px.svg');
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

#toggleFullScreenButton[aria-pressed='true'] {
  background-image: url('img/ic_fullscreen_exit_white_48px.svg');
}

#switchCameraButton {
  display: none;
  width: 64px;
  height: 64px;
  background-image: url('img/ic_camera_rear_white_36px.svg');
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

#switchCameraButton[aria-pressed='true'] {
  background-image: url('img/ic_camera_front_white_36px.svg');
}

@media screen and (orientation: portrait) {
  /* portrait-specific styles */

  /* video_container (video) doesn't respect height... 
       so we will fill it in completely in portrait mode
    */
  #vid_container {
    width: 100%;
    height: 80%;
  }

  #gui_controls {
    width: 100%;
    height: 20%;
    left: 0;
  }

  #switchCameraButton {
    left: calc(20% - 32px);
    top: calc(50% - 32px);
  }

  #toggleFullScreenButton {
    left: calc(80% - 32px);
    top: calc(50% - 32px);
  }
}

@media screen and (orientation: landscape) {
  #vid_container {
    width: 80%;
    height: 100%;
  }

  #vid_container.left {
    left: 20%;
  }

  /* we default to right */
  #gui_controls {
    width: 20%;
    height: 100%;
    right: 0;
  }

  /* for the lefties */
  #gui_controls.left {
    left: 0;
  }

  #switchCameraButton {
    left: calc(50% - 32px);
    top: calc(18% - 32px);
  }

  #toggleFullScreenButton {
    left: calc(50% - 32px);
    top: calc(82% - 32px);
  }
}
